<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Log File Analyzer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link th:href="@{/css/fsp.css}" rel="stylesheet"></link>
	<link th:href="@{/images/lucicon.ico}" rel="shortcut icon" type="image/x-icon"></link>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div tiles:fragment="content">
    	<img th:src="@{/images/luc_logo.gif}" id="header-image"/>
    	<h1 id="header-title">Log File Analyzer</h1>
    	<div class="container" >
    	<div class="alert alert-danger">
      The Log File Analyzer application is not available at this time. Please contact administrators for more information.
      </div>
        </div>
    </div>
  </body>
</html>