
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
</head>
<body class="nav-md">

<div th:include="fragments/header :: bodyFragment"></div>
<script>
$(document).ready(function(){
$("#application").change(function(){
	var val = document.getElementById("application").value;
	//alert("application selected "+val);
	
	  $.ajax({url: "getFileList/"+val, success: function(result){
		  
		 var select = document.getElementById("fileName");
		 var length = select.options.length;
		 for (i = length-1; i >= 0; i--) {
		   select.options[i] = null;
		 }
	    //alert("the result is "+result.length);
	    
	  
	    for(var i=0;i<result.length;i++)
	    {
	    	var opt = result[i];
	    	var el = document.createElement("option");
	        el.textContent = opt;
	        el.value = opt;
	        select.appendChild(el); 
	    }
	  }});
	});
});
</script>
<div class="container">
    <div th:if="${not #strings.isEmpty(errorMessage)}"  class="container,bg-danger" style="text-align: center;">
        <div class="row">&nbsp;</div>
        <h3 th:text="${errorMessage}"></h3>
        <div class="row">&nbsp;</div>
      </div>
      
      <div class="jumbotron d-flex justify-content-center" >
                 		
        <div class="list-group col-sm-8">
   
           <div class="list-group-item" >
         
               <h3 class="list-group-item-heading" >Search Log Files</h3>
               <br/>
    <form  action="search"  method="post" th:object="${webform}">
    <div class="d-flex justify-content-center" style="height: 5.5rem;">
            <div class="form-group row  col-sm-10" >
    				
    				<label for="term" class="col-form-label" style="font-size: 0.8rem;font-weight: bold;">Application Name</label>
           <select class="custom-select custom-select-sm mb-3" id="application" th:field="*{application}">
  <option value="0" selected>Select Application</option>
  <option th:each="app : ${session.applications}" th:value="${app}" th:text="${app}"></option>

</select>
</div>
</div>

    <div class="d-flex justify-content-center"  style="height: 9.5rem;">
            <div class="form-group row  col-sm-10" >
    				
    				<label for="term" class="col-form-label" style="font-size: 0.8rem;font-weight: bold;">Log File Name</label>
           <select class="custom-select custom-select-sm mb-3" id="fileName" th:field="*{filenames}" multiple="multiple">
  <option value="0" selected>Select Log File</option>
 

</select>

</div>
</div>


    <div class="d-flex justify-content-center">
            <div class="form-groupc row  col-sm-10" >
    				
    				<label for="term" class="col-form-label" style="font-size: 0.8rem;font-weight: bold;">Search Text</label>
        
        					<input type="text" class="form-control" id="searchText" th:field="*{search}" placeholder="Enter Search Text Here" style="height: 2rem;">
        		
        	
      					
</div>
</div>
    <div class="d-flex justify-content-center">
            <div class="form-groupc row  col-sm-10 d-flex justify-content-center" style="text-align: center;">
    				
    		<button type="submit" class="btn" style="background-color: #680013; color: white; " id="propertiesSubmitButton" name="propertiesSubmitButton" >Search</button>
          		<button type="button" class="btn btn-grey"  onclick="cancelButton();">Reset</button>		
      					
</div>
</div>
</form>

             
            
             <div> 
           </div>
          </div>
      </div>

</div>
<div th:each="instance : ${finalResult}">
<div class="jumbotron">

               <h5 class="list-group-item-heading" th:text="${instance.key}"></h5>
              <br/>
               <span th:each="str : ${instance.value}" style="font-size: 0.8rem;">
               	<span  th:text="${str}"></span><br/>
               </span>
               
    <!--      <div class="list-group col-sm-12">
   <div class="list-group-item" >
              
    </div>
    <br/>
</div> -->
</div>
</div>




</div>



<div th:include="fragments/footer :: footerFragment"></div>
  </body>
  </html>